@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{

    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    

}

img.gentlemansLogo{
    
    
    height: 70px;
    

}

div.menuBar li {
    display: inline;
    padding: 2%;
    height: 10px;
    
}

div.menuBar {

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,65,255,1) 0%, rgba(127,37,188,1) 37%, rgba(115,9,121,1) 74%);
    color: white;
    font-family: Poppins;
    text-align: left;
    padding-top: 18px;
    border-radius: 15px;
    padding-bottom: 17px;
    
    
}

div.menuBar ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

li.gentlemansLogo {
    display: block;
    color: #000;
    
    background-image: url(gentlemanLogo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    
    position: relative;
    top: 17px;
}


header.aboutText{
    padding-top: 30px;
    color: white;
    font-size: 50px;
    font-family: Poppins;
    max-width: 39%;
    padding-left: 5%;
}

p {

    color: white;
    font-size: 20px;
    font-family: Poppins;
    max-width: 35%;
    padding-left: 5%;
}

div img{
    height: 450px;

    /* transform: rotate3d(1, 0, 1, 10deg);  */

    position: relative;
    box-shadow: 0px 0px 70px 30px rgb(217, 217, 241);
    right: -55%;
    top: -200px;
    border-radius: 12px;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
    
}

/* div img:hover{
    box-shadow: 40px 45px 40px rgb(217, 217, 241);
    
    
    animation-name: bounce;
    animation-timing-function: ease;
    
} */



@keyframes bounce {
  
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}   

div.secondPage{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,13,50,1) 0%, rgba(115,9,121,1) 74%, rgba(127,37,188,1) 100%);
    height: 700px;
    width: 100%;
    
}

div.secondPage ul{
    display: inline;

}

div.secondPage ul li{

    color: white;
    font-size: 20px;
    font-family: Poppins;
    display: inline-flex;
    padding-left: 22%;
    position: relative;
    top: 300px


}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    position: relative;
    top: 170px;
    

    
    margin: 0 auto;
}



.flex-item {
    width: 400px;
    height: 400px;
    text-align: center;
    overflow: hidden;
}

.flex-item p {

    text-align: left;
    min-width: fit-content;
    
}

.flex-item:hover {
    
    
    background-color: #ffffff16;
    
}